<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parth's Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="dark-mode">

<header>
    <div class="head-container">
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <button id="color-theme">Dark Mode</button>
        </nav>
    </div>
</header>

<div class="blogs">
</div>

<footer>
    <nav class="footer-links">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="https://x.com/hoaxw0w" target="_blank">X</a>
        <a href="https://github.com/parthadokar" target="_blank">Github</a>
        <a href="">© 2025 parthadokar.dev</a>
    </nav>
</footer>

</body>
<script src="script.js"></script>
</html>
