<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parth's Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="dark-mode">

<header>
    <div class="head-container">
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/blog">Blog</a>
            <button id="color-theme">Dark Mode</button>
        </nav>
    </div>
</header>

<div class="container">
    <div class="main">
        <h1>Hello, I am Parth!</h1>
        <p>I created this blog to share my thoughts, record my learnings and track my work to check on myself in the future.</p>
        <p>Wanna Exchange Ideas <a href="https://x.com/hoaxw0w">DM me @hoaxw0w on X</a></p>
    </div>
    <div class="main">
        <h1>Who Am I?</h1>
        <p>I am coder, gamer and chess enthusiast</p>
        <p>I have spent much of my time doing alot of different things.</p>
        <p>I am fully invested in whatever that intrests me.</p>
    </div>
</div>

<footer>
    <nav class="footer-links">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="https://x.com/hoaxw0w" target="_blank">X</a>
        <a href="https://github.com/parthadokar" target="_blank">Github</a>
        <a href="">© 2025 parthadokar.dev</a>
    </nav>
</footer>
</body>
<script src="script.js"></script>
</html>
